<?xml version="1.0"?>

<model>
  <name>small_building</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Dominic Larkin</name>
    <email>dominic.larkin@westpoint.edu</email>
  </author>

  <description>
    A small building the dimensions of TH1136.
  </description>
</model>
